.link {
  text-decoration: none !important;
  color: inherit !important;
}

.site-title {
  font-family: "Crimson Pro", serif;
  color: white;
  font-weight: 800;
}

.site-header {
  background-color: #a60f2d;
}

.admin-button {
}

.full-width {
  width: 100%;
}

.grow {
  flex-grow: 1 !important;
}

.full-width button {
  width: 100%;
}

.admin-btn-container {
  position: absolute;
  bottom: 1rem;
}
